@model HistoryListModel

@{
    ViewData["Title"] = "Index";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Panels</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Histoies</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">All</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Histories</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="Histories" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>CreatedDate</th>
                                    <th>FileName</th>
                                    <th>GroupName</th>
                                    <th>ProcessType</th>
                                    <th>Status</th>
                                    <th>EmailSent</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>CreatedDate</th>
                                    <th>FileName</th>
                                    <th>GroupName</th>
                                    <th>ProcessType</th>
                                    <th>Status</th>
                                    <th>Email Sent</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $.fn.Datatable = function () {
            $('#Histories').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/member/History/GetHistoryData",
                "ajax": {
                    'type': 'POST',
                    'url': '/member/History/GetHistoryData',
                    'data': {},
                },
                oLanguage: {
                    sProcessing: "<div class='card-body is-loading is-loading-lg'></div>"
                }
            });
        }

    </script>
}

<script>
    $(document).ready(function () {

        var def = $.Deferred();
        def.then($.fn.Datatable());

    });
</script>