
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New
                    </span>
                    <span class="fw-light">
                        Export
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="form-group pl-1 mb-2 col-md-12">
                                        <label>Groups</label>
                                        <div class="select2-input">
                                            <select id="multiple2" name="multiple[]" class="form-control" multiple="multiple" style="width: 100%">
                                                <option value="AL">student</option>
                                                <option value="AA">teacher</option>
                                                <option value="AP">drive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group p-1">
                                        <input type="email" class="form-control" aria-label="Text input with dropdown button">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary">Send To Email</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" id="ExportButton" class="btn btn-primary">Export</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/admin/js/plugin/select2/select2.full.min.js"></script>

<script>

    $('#multiple2').select2({
        theme: "bootstrap",
        ajax: {
            type: "GET",
            url: "/api/GroupApi/Search",
            contentType: "application/json; charset=utf-8",
            data: function (params) {
                var query =
                {
                    term: params.term,
                };
                return query;
            },
            processResults: function (result) {
                return {
                    results: $.map(result, function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };
                    }),
                };
            }
        }
    });

    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

    $("#ExportButton").click(function (evt) {

        var selected = $('#multiple2').select2("data");

        var groups = new Array();
        for (var i = 0; i <= selected.length - 1; i++) {

            groups.push(selected[i].text)
        }

        if (groups.length < 1) {
            swal("Error", "Group not selected!", {
                icon: "error",
                buttons: {
                    confirm: {
                        className: 'btn btn-danger'
                    }
                },
            });
        }
        else {
            $.ajax({
                url: '/member/contact/Export',
                data: {
                    GroupNames: groups,
                },
                type: "POST",
                beforeSend: function () {
                    $('#ExportButton').addClass("is-loading");
                },
                success: function (response) {
                    $('#ExportButton').removeClass("is-loading");
                    $('#exportModal').modal('hide');
                },
                complete: function (response) {
                    if (response.status == 200) {
                        swal("Done", "Task Added to Queue. Please wait.. ", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            },
                        });
                    }
                    else {
                        $('#ExportButton').removeClass("is-loading");

                        swal("Failed", response.responseText, {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-danger'
                                }
                            },
                        });
                    }
                    //$.ajax({
                    //    url: '/member/contact/DownloadFile',
                    //    type: "POST",
                    //    data: JSON.stringify({ FileName: groups[0] }),
                    //    cache: false,
                    //    contentType: "application/json; charset=utf-8",
                    //    success: function (data) {
                    //        var bytes = Base64ToBytes(data);
                    //        var blob = new Blob([bytes], { type: "application/octetstream" });
                    //        var a = document.createElement('a');
                    //        var url = window.URL.createObjectURL(blob);
                    //        a.href = url;
                    //        a.download = groups[0] + '.xlsx';
                    //        document.body.append(a);
                    //        a.click();
                    //        a.remove();
                    //        window.URL.revokeObjectURL(url);
                    //    },
                    //    failure: function (jqXHR, textStatus, errorThrown) {
                    //        alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                    //    },
                    //});
                },
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                },
            });
        }
    });

</script>
