
<div id="PreviewModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content table-responsive">
            <div id="previewTable">  
            </div>
            <div class="modal-footer no-bd">
                <button type="button" id="PreviewButton" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function JSONToHTMLTable(jsonData, elementToBind) {

        //This Code gets all columns for header   and stored in array col
        var col = [];
        for (var i = 0; i < jsonData.length; i++) {
            for (var key in jsonData[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        //This Code creates HTML table
        var table = document.createElement("table");
        table.setAttribute('class', 'table table-hover');

        //This Code getsrows for header creader above.
        var tr = table.insertRow(-1);

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        //This Code adds data to table as rows
        for (var i = 0; i < jsonData.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = jsonData[i][col[j]];
            }
        }

        //This Code gets the all columns for header
        var divContainer = document.getElementById(elementToBind);
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
</script>

<script>
    $("#PreviewButton").click(function (evt) {

            try {
                var fileName = $('#tempStore').val();
                var groupName = $('#gropuNames2').select2('data')[0].text;
            }
            catch (err) {
                console.log(err);
            }

             $.ajax({
                url: '/member/contact/Import',
                data: {
                    GroupName: groupName,
                    FileName: fileName,
                },
                type: "POST",
                beforeSend: function () {
                    $('#PreviewButton').addClass("is-loading");
                },
                success: function (response) {
                    $('#PreviewButton').removeClass("is-loading");
                    $('#PreviewModal').modal('hide');
                },
                complete: function (response) {
                    if (response.status == 200) {
                        swal("Done", "Task Added to Queue. Please wait.. ", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            },
                        });

                        //var def = $.Deferred();
                        //def.then($('#contacts').DataTable().destroy(), $.fn.GetColumns(response.GroupName));
                    }
                    else {
                        $('#PreviewButton').removeClass("is-loading");

                        swal("Failed", response.responseText, {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-danger'
                                }
                            },
                        });
                    }
                },
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                }
            });
    });
</script>

