<script>
    $.fn.EditModal = function (link = '') {

/*            $('#editName').val($('#editButton').attr('value'));*/


        $.ajax({
            url: link,
            success: function (data) {
                $('#editName').val(data.name);
                $('#editName').attr("edit-id", data.id);
            },
            error: function () {
                alert("There was an error.");
            }
        });

        $('#editModal').modal('show');
    }
</script>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        New
                    </span>
                    <span class="fw-light">
                        Group
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="groupEditform" class="form-horizontal" method="post" novalidate="novalidate">
                    <div class="row  form-show-validation">
                        <div class="col-sm-12">
                            <div class="form-group" id="edit-form-group">
                                <label for="largeInput">Name</label>
                                <span class="required-label">*</span>
                                <input type="text" class="form-control" id="editName" edit-id ="" name="Name" value="" required="required">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" id="editGroupButton" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery-validate/jquery.validate.min.js"></script>
<script>

    $("#editGroupButton").click(function (evt) {
        evt.preventDefault();
        $("#groupEditform").submit();
    });

    /* validate */

    // validation when select change
    $("#state").change(function () {
        $(this).valid();
    })

    $("#groupEditform").validate({
        validClass: "success",
        rules: {
            name: { required: true },
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        submitHandler: function (form) {
            $.ajax({
                url: "/member/group/edit/" + $('#editName').attr('edit-id'),
                type: form.method,
                beforeSend: function () {
                    $('#editGroupButton').addClass("is-loading");
                },
                data: $(form).serialize(),
                success: function (response) {
                    $('#editGroupButton').removeClass("is-loading");
                    $('#editModal').modal('hide');
                },
                complete: function (response) {
                    if (response.status == 200) {
                        swal("Done", "Group successfully edited", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            },
                        });

                        $('#editName').val('');
                        $('#groups').DataTable().ajax.reload();

                    }
                    else {
                        $('#editGroupButton').removeClass("is-loading");
                        $('#edit-form-group').addClass("has-error");

                        swal("Failed", response.responseText, {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-danger'
                                }
                            },
                        });
                    }
                },
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                }
            });
        }
    });

</script>