@model ContactListModel

@{
    ViewData["Title"] = "Index";
}


@section Styles {
    <link rel="stylesheet" href="/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet" />

}


<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Contacts</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">member</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">contacts </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">All Available Contacts</h4>

                        <a class="btn btn-info btn-border btn-round btn-sm mr-2 ml-auto" data-toggle="modal" data-target="#importModal">
                            Import
                        </a>
                        <a class="btn btn-info btn-border btn-round btn-sm mr-2" data-toggle="modal" data-target="#exportModal">
                            <i class="fa fa-print"></i>
                            Export
                        </a>
                    </div>
                </div>
                <div id="body" class="card-body">

                    <div class="form-check form-check-inline mb-2">
                        <input id="toggle-event" class="form-check-input" type="checkbox" data-toggle="toggle" data-onstyle="primary" data-offstyle="danger" data-size="xs" checked>
                        <h5 class="ml-2 mt-2">Advance Search</h5>
                    </div>

                    <div class="collapse mb-3 show" id="advance-search">
                        <div class="col-md-12">
                            <form id="clear">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Group</label>
                                        <div class="select2-input">
                                            <select id="gropuNames" name="gropuNames" class="form-control" style="width: 92%">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-1 mt-auto">
                                        <div class="form-group">
                                            <label>From</label>
                                            <input type="text" id="date-min" name="datepicker" class="form-control" placeholder="From:">
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-1 mt-auto">
                                        <div class="form-group">
                                            <label>To</label>
                                            <input type="text" id="date-max" name="datepicker" class="form-control" placeholder="To:">
                                        </div>
                                    </div>
                                    <div class="col-md-1 pl-1 mt-auto">
                                        <div class="form-group">
                                            <a class="btn btn-primary btn-default" id="advFilter"><i class="fa fa-filter "></i> Filter</a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-1 mt-auto">
                                        <div class="form-group">
                                            <a class="btn btn-secondary btn-default " href="#"><i class="fa fa-eraser "></i> Clear Filter</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Export Modal -->
                    <partial name="_ExportModalPartial" />

                    <!-- Import Modal -->
                    <partial name="_ImportModalPartial" />

                    <!-- Preview Modal -->
                    <partial name="_PreviewModalPartial" />

                    <div class="table-responsive">
                        <table id="contacts" class="display table table-striped table-hover">
                            <thead>
                                <tr id="row1">
                                </tr>

                            </thead>
                            <tfoot>
                                <tr id="row2">
                                </tr>
                            </tfoot>
                        </table>
                        <partial name="_DeletePopupPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $('#gropuNames').on('select2:select', function (e) {
            data = e.params.data;
            name = data.text;

            var def = $.Deferred();
            def.then($('#contacts').DataTable().destroy(), $.fn.GetColumns(name));

        });

        $.fn.Datatable = function (name = '', targets = 0) {

            $('#contacts').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    'type': 'POST',
                    'url': '/member/Contact/GetContactsData',
                    'data': {
                        groupName: name,
                    }
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": targets,
                        "render": function (data, type, row) {
                            return `<td>
                                                                                                                                    <div class="form-button-action">
                                                                                                                                        <button type="submit" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task" onclick="window.location.href='/member/contact/edit/${data}'" value='${data}'>
                                                                                                                                            <i class="fa fa-edit"></i>
                                                                                                                                        </button>
                                                                                                                                        <button type="submit" data-toggle="tooltip" title="" class="btn btn-link btn-danger show-delete-modal" data-original-title="Remove" data-id='${data}' value='${data}'>
                                                                                                                                            <i class="fa fa-times"></i>
                                                                                                                                        </button>
                                                                                                                                    </div></td>`;
                        }
                    }
                ],
                oLanguage: {
                    sProcessing: "<div class='card-body is-loading is-loading-lg'></div>"
                }
            });
            $('#contacts').on('click', '.show-delete-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?')
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/member/contact/delete")
                modal.modal('show');
            });
            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });

        }
    </script>

    <script src="/lib/moment.js/moment.min.js"></script>
    <script src="/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $('#date-min').datetimepicker({
            format: 'MM/DD/YYYY',
        });

        $('#date-max').datetimepicker({
            format: 'MM/DD/YYYY',
        });
    </script>

}


<script>
    $("#gropuNames").select2({
        placeholder: "Select..",
        theme: "bootstrap",
        ajax: {
            type: "GET",
            url: "/api/GroupApi/Search",
            contentType: "application/json; charset=utf-8",
            data: function (params) {
                var query =
                {
                    term: params.term,
                };
                return query;
            },
            processResults: function (result) {
                return {
                    results: $.map(result, function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };
                    }),
                };
            }
        }
    });

</script>


<script>
    $.fn.GetColumns = function (name = '') {
        $.ajax({
            type: "POST",
            url: '/member/Contact/GetColumns',
            data: {
                groupName: name,
            },
            beforeSend: function () {
                $('#body').addClass("is-loading is-loading-lg");

            },
            success: function (response) {
                console.log(response);

                $("#contacts > thead > tr").empty();
                $("#contacts > tfoot > tr").empty();
                $("#contacts > tbody > tr").empty();


                var length = 0;
                if (response != null) {
                    $.each(response, function (index, col) {
                        $('#row1').append('<th style="width: 10%">' + col.name + index + '</th>');
                        $('#row2').append('<th>' + col.name + index + '</th>');
                        length++;
                    });

                    $('#row1').append('<th style="width: 10%">Action</th>');
                    $('#row2').append('<th style="width: 10%">Action</th>');

                    $.fn.Datatable(name, length);
                }
                else {
                    $("#contacts > thead > tr").empty();
                    $("#contacts > tfoot > tr").empty();
                    $("#contacts > tbody > tr").empty();

                    $('#row1').append('<th style="width: 10%">Action</th>');
                    $('#row2').append('<th style="width: 10%">Action</th>');

                    $.fn.Datatable(name);

                }

            },
            complete: function () {
                $('#body').removeClass("is-loading is-loading-lg");
            },
            failure: function (jqXHR, textStatus, errorThrown) {
                alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
            }
        });
    }
</script>



<script>
    $(function () {

        $('#toggle-event').change(function () {
            if ($(this).prop('checked')) {
                $('#advance-search').addClass("show");
            }
            else {
                $('#advance-search').removeClass("show");
            }

        })
    })

    $(document).ready(function () {


        $.fn.GetColumns();

        Dropzone.instances.forEach(bz => bz.destroy());

        $(".dropzone").dropzone({
            url: "/member/contact/upload",
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            success: function (file, response) {
                $('#tempStore').val(file.name);
            },
            error: function (file, response) {
                console.log(response);
            }
        });

    });

</script>