@model EditBookModel

@{
    ViewData["Title"] = "Edit";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Edit Book</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">admin</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Edit book</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Edit a New Book</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <form id="bookform" class="form-horizontal" method="post" asp-controller="book"
                                  asp-action="Edit" asp-antiforgery="true">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Title">Title</label>
                                    <input asp-for="Title" type="text" class="form-control" id="title" placeholder="Enter Title">
                                    <small id="" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Barcode">Barcode</label>
                                    <input asp-for="Barcode" type="text" class="form-control" id="barcode" placeholder="Enter Barcode">
                                    <small id="" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price">Price</label>
                                    <input asp-for="Price" type="text" class="form-control" id="price" placeholder="Enter Price">
                                    <small id="" class="form-text text-muted"></small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button id="btnsubmit" class="btn btn-success">Submit</button>
                    <button class="btn btn-danger" onclick="window.location.href='/Book/'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnsubmit").click(function () {
        $("#bookform").submit();
    });
</script>